name: Deploy MkDocs

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install MkDocs Material
        run: pip install mkdocs-material mkdocs-minify-plugin mkdocs-autorefs

      - name: Build and Deploy
        run: mkdocs gh-deploy --force

